body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  
}

nav {
  background-color: #333;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 35px;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}


header.hero {
  background-image: url('https://assets.vogue.com/photos/63b883bdf8989f4ae6ba680e/master/w_2560%2Cc_limit/GettyImages-502757710.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero-content {
  max-width: 600px;
  margin: auto;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.cta-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #0056b3;
}

main {
  padding: 40px 20px;
  text-align: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.category {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 250px;
  margin: 10px;
}

.category h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.category p {
  margin-bottom: 20px;
}

.cta-link {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.cta-link:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}
