body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /*background-color: #f0f8ff;*/
    background-image: url('https://images.pexels.com/photos/209955/pexels-photo-209955.jpeg?cs=srgb&dl=pexels-pixabay-209955.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    color: #333;
  }
  
  header.hero {
    background-image: url('images/ski-mountains.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 20px;
  }
  
  .hero-content {
    max-width: 600px;
    margin: auto;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align-last: center;
  }
  
  .hero p {
    font-size: 1.7rem;
    margin-bottom: 40px;
    color: #666;
  }
  
  
  main {
    padding: 40px 20px;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: white;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Adjust blur level */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(30% - 20px); /* Adjust width for three cards in a row */
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

h3 {
    margin-top: 0;
    color: #4a4a4a;
}

p {
    color: #666;
}

/* Media query for smaller screens (1-column layout) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        flex: 100%;
        margin: 10px 0;
    }
}
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  